.flower-game {
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.flower {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.petal {
    position: absolute;
    height: 30px;
    width: 30px;
}